body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding: 0;
    background-image: url('https://github.com/Johnson-Frontend/home/blob/main/image/calculator.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 12px;
}

.wrapper {
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.main-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 80%;
    padding: 8px;
    background-image: linear-gradient(to right, #6a11cb 20%, #2575fc 80%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

button:hover {
    background-image: linear-gradient(to right, #5a0fbf 20%, #1f6fe0 80%);
}

#search-results {
    margin-top: 20px;
    text-align: left;
} 